<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/admin/fragments/head :: head}"></head>

<body>
    <div id="app">
        <div id="sidebar" th:replace="~{/admin/fragments/sidebar :: sidebar}"></div>
        <div id="main">
            <header th:replace="~{/admin/fragments/header :: header}"></header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row my-3">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h5 class="text-primary my-0">Thông tin dịch vụ</h5>
                            <p class="text-subtitle text-muted">Xem thông tin chi tiết dịch vụ</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/service}">Dịch vụ</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/service}">Quản lý dịch vụ</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Xem thông tin</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <div class="row match-height justify-content-center">
                                <div class="col-md-6">
                                    <a th:href="@{/service}" class="text-end my-1"><i class="fa-solid fa-angles-left"></i>
                                        Trở về trang trước</a>
                                    <div class="d-flex flex-column justify-content-between">
                                        <div class="form-group">
                                            <label for="helpInputTop">Tên dịch vụ</label>
                                            <input type="text" class="form-control" th:value="${service.name}"
                                                   placeholder="Nhập tên dịch vụ" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="helpInputTop">Loại hình dịch vụ</label>
                                            <small class="text-muted">Đơn vị thời gian</small>
                                            <select class="form-select" name="unit" th:value="${selectedUnit}" disabled>
                                                <option th:value="'HOUR'" th:text="'Giờ'"
                                                        th:selected="${selectedUnit == 'HOUR'}"></option>
                                                <option th:value="'DAY'" th:text="'Ngày'"
                                                        th:selected="${selectedUnit == 'DAY'}"></option>
                                                <option th:value="'MONTH'" th:text="'Tháng'"
                                                        th:selected="${selectedUnit == 'MONTH'}"></option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label for="helpInputTop">Tên dịch vụ</label>
                                            <textarea class="form-control" id="description" rows="3"
                                                      th:text="${service.description}" readonly>Mô tả dịch vụ</textArea>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between gap-3">
                                            <div class="form-group w-75">
                                                <label for="helpInputTop">Thời gian tạo</label>
                                                <input type="text" class="form-control" th:value="${service.createdAt}"
                                                       placeholder="Nhập tên dịch vụ" readonly>
                                            </div>
                                            <div class="form-group w-75">
                                                <label for="helpInputTop">Thời gian cập nhật</label>
                                                <input type="text" class="form-control" th:value="${service.updatedAt}"
                                                       placeholder="Nhập tên dịch vụ" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"
                                     th:if="${images != null and not #lists.isEmpty(images)}">
                                    <div class="w-100">
                                        <img id="mainImage"
                                             th:src="@{/images/service/{filename}(filename=${images[0].url})}"
                                             class="img-fluid border"
                                             style=" width: 100%; height: 200px; object-fit: cover;" />
                                    </div>
                                    <div class="row g-2 mt-2">
                                        <div class="col-4" th:each="image : ${images}">
                                            <img th:src="@{/images/service/{fileName}(fileName = ${image.url})}"
                                                 class="img-thumbnail small-img"
                                                 th:attr="onclick='changeImage(this, ' + ${image.id} + ')'"
                                                 style="width:100%; height: 90px; object-fit: cover;" />
                                        </div>
                                    </div>
                                </div>

                                <hr class="mx-5">

                                <div class="d-flex justify-content-between">
                                    <p class="fs-6 fw-bold text-primary m-2">Dịch vụ con</p>
                                </div>
                                <p th:if="${#lists.isEmpty(subServices)}" class="text-danger text-center">
                                    Chưa có dịch vụ con</p>

                                <div class="row g-2">
                                    <div class="col-12 col-md-6 col-lg-4" th:each="subService : ${subServices}">
                                        <div class="card d-flex flex-column border border-1 h-100">
                                            <div class="card-body flex-grow-1">
                                                <h6 class="text-primary" th:text="${subService.name}"></h6>
                                                <p class="card-text" th:text="${subService.description}"></p>
                                                <strong class="card-text"
                                                    th:text="'Số lượng người giúp việc: ' + ${subService.workerQuantity}"></strong>
                                                <div class="d-flex justify-content-between mt-auto pt-4">
                                                    <p class="text-decoration-line-through"
                                                        th:text="${subService.originalPrice} + ' VNĐ/' + ${service.unitType.getDisplayName()}">
                                                    </p>
                                                    <p class="fw-bold text-primary"
                                                        th:text="${subService.salesPrice} + ' VNĐ/' + ${service.unitType.getDisplayName()}">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </section>
            </div>

            <footer th:replace="~{/admin/fragments/footer :: footer}"></footer>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <img id="modalImage" src="" alt="" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function changeImage(imgElement) {
            let mainImage = document.getElementById("mainImage");
            if (mainImage) {
                mainImage.src = imgElement.src;
            }
        }</script>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/vendors/simple-datatables/simple-datatables.js"></script>


    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/vendors/quill/quill.min.js"></script>
    <script src="/js/pages/form-editor.js"></script>
    <script src="/js/pages/form-editor.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>